<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center" dropdown="">
                    <img alt="image" class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/adhamdannaway/128.jpg" width="48">
                    <a class="dropdown-toggle" dropdown-toggle="" href="" aria-haspopup="true" aria-expanded="false">
                    <span class="clear">
                    <span class="block m-t-xs">
                        <strong class="font-bold"><%= current_user.username %></strong>
                    </span>
                    <span class="text-muted text-xs block"></span></span></a><a href="">Owner</a>
                </div>
                <div class="logo-element">
                    <img src="http://teespring-teeshop.s3-website-us-east-1.amazonaws.com/ang/img/logo_60x60.png">
                </div>
            </li>
            <li class="<%= 'active' if current_page?('/') %>">
                <%= link_to "/" do %>
                <i class="fa fa-globe"></i> <span class="nav-label">Dashboard</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/shops') %>">
                <%= link_to "/shops" do %>
                <i class="fa fa-shopping-cart"></i> <span class="nav-label">Shops</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/collections') %>">
                <%= link_to "/collections" do %>
                <i class="fa fa-clock-o"></i> <span class="nav-label">Collections</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/campaigns') %>">
                <%= link_to "/campaigns" do %>
                <i class="fa fa-laptop"></i> <span class="nav-label">Campaigns</span>
                <% end %>
            </li>
            <li class="<%= 'active' if current_page?('/pages') %>">
                <%= link_to "/pages" do %>
                <i class="fa fa-list"></i> <span class="nav-label">Pages</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>