<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teeshop</title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

</head>
<body class="gray-bg">

    <!-- Wrapper-->
    <div id="wrapper">

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <!-- Page wrapper -->
            <%= bootstrap_flash %>

            <!-- Main view  -->
            <%= yield %>

            <!-- Footer -->
            </div>
        </div>
    </div>
    <!-- End wrapper-->

</body>
</html>
